.splash-text 
{
	position: absolute;
	background-color: rgb(240, 248, 255, 0.8);
	font-size: 25px;
	padding: 15px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: black;
	z-index: 200;
}
.splash
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #070707;
	background-size: cover;
	background-position: center;
	height: 100%;
	z-index: 200;
	color: white;
}

.splashScreen2 .splash 
{
	text-align: center;
	line-height: 90vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.splash.display-none
{
	position: fixed;
	opacity : 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	z-index: -10; 	/* Makes it fall behind everything else */
	color: white;
	text-align: center;
	transition: all 3s;
	
}
@keyframes fadeIn
{
	0%
	{
		background-color: rgba(255,255,255,0.6);
		opacity: 0;
	}
	50% 
	{
		background-color: rgba(255, 255, 255, 0.8);
		opacity: 1;
	}
	100% 
	{
		background-color: rgba(255, 255, 255, 0.5);
		opacity: 1;
	}
}
@keyframes fadeInn
{
	from
	{
		display: none;
	}
	to
	{
		display: block;
	}
}

@keyframes fadeIn
{
	to
	{
		opacity: 1;
	}
}
